.slick-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: white;
}

.react-calendar {
  background-color: black;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  position: absolute;
  z-index: 1;
  margin-top: 0;
}
